/* Intro */
.header{
    background: gray;
    display: flex;
    align-items: center;
}
.headertitle{
    width: 30%;
    font-size: 35px;
    padding: .5em;
    color: white;
}
.nav{
    display: flex;
    justify-content: right;
    width: 70%;
}
.navlinks{
    font-size: 25px;
    margin-right: 1em;
    padding: 1em;
    text-decoration: none;
    color: white;
}
.navlinks:hover{
    background: white;
    color: gray;
}
.introcontainer{
    height: 850px;
    position: relative;
}
.introimg img{
    width: 100%;
    height: 850px;
}
.introcard{
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0%;
    background-color: rgba(0, 0, 0, .5);
}
.introheader, .intropara{
    color: whitesmoke;
    margin: 1em;
}
.introheader{
    font-size: 30px;
}
.intropara{
    font-size: 20px;
}
.bodyimg1{
    width: 500px;
}
/* Information */
.informationheader{
    text-align: center;
    font-size: 35px;
}
.information{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}
.infocard{
    width: 18%;
    border-radius: 10px;
    background-color: lightgray;
    border: 1px solid gray;
    box-shadow: 1px 5px 5px gray;
}
.infoheader{
    margin-left: 1em;
    color: white;
}
.infocard p{
    text-align: center;
    padding: 1em;
    color: white;
}
.info1{font-size: 18px;}
.info2{font-size: 15px;}
.info3{font-size: 15px;}
.info4{font-size: 15px}
.info5{font-size: 14px;}
/* Card */
.cardheader{
   font-size: 35px;
    text-align: center;
}
.cardcontainer{
    height: 550px;
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 25%;
    height: auto;
    border-radius: 10px;
    border: 1px solid gray;
    overflow: hidden;
    box-shadow: 1px 5px 5px gray;
}
.card img{
    width: 100%;
    height: 80%;
}
.card b{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.cardlink{
    display: flex;
    justify-content: center;
}
.cardlink a{
    font-size: 25px;
    background-color: lightgray;
    text-decoration: none;
    padding: .25em;
    border-radius: 5px;
    color: white;
    margin-top: .5em;
}
.card:hover{
    box-shadow: 1px 5px 5px lightgray;
}
.cardlink a:hover{
    border: 1px solid gray;
    background: white;
    color: gray;
}
.footer{
    height: 50px;
    background-color: black;
    font-size: 15px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* screen size */
/* Large */
@media only screen and (max-width: 1200px){
    .headertitle{padding: .35em;}
}
/* Medium */
@media only screen and (max-width: 1000px){
    .nav{justify-content: center;}
    .introheader{font-size: 28px;}
    .intropara{font-size: 18px;}
}
/* Small */
@media only screen and (max-width: 640px){
    .nav{justify-content: center;}
    .navlinks{font-size: 20px;}
    .introheader{font-size: 26px;}
    .intropara{font-size: 16px;}
}