.headertitle{
    height: 65px;
    background-color: darkred;
    text-align: center;
    color: white;
}
.headertitle h1, .headertitle p{font-family: cambria;}
.headertitle h1{
   margin-top: -.25px;
   font-size: 30px;
}
.headertitle p{
    margin-top: -20px;
    font-size: 20px;
}
.headernav{
    height: 35px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav a{
    text-decoration: none;
    font-size: 20px;
    margin: .5em;
    color: black;
}
.nav a:hover{
    color: darkred;
}
.introcontainer{
    height: 850px;
    position: relative;
}
.introimg img{
    width: 100%;
    height: 850px;
}
.introcard{
    position: absolute;
    width: auto;
    height: 200px;
    bottom: 0%;
    background-color: rgba(0, 0, 0, .5);
}
.introcard h1, .introcard p{
    color: whitesmoke;
    margin: 1em;
}
.introcrad h1{
    font-size: 30px;
}
.introcard p{
    font-size: 20px;
}




.footer{
    height: 200px;
    display: flex;
    background-color: rgb(161, 161, 161);
}
.footertitle{
    font-size: 20px;
    font-weight: bolder;
}
.footer1{
    text-align: center;
}
.list1{
    list-style: none;
}
.footer1{
    width: 25%;
    margin: 1em;
}
.list1 li{
    padding: .5em;
    margin-left: -50px;
    font-size: 17px;
}
@media only screen and (max-width: 1250px){
    .infocard{width: 47%; margin: .5em;}
    .content{font-size: 20px;}
    .listh, .informationheader, .headertitle{font-size: 30px;}
    .intropara{font-size: 18px;}
}
@media only screen and (max-width: 845px){
    .headertitle{font-size: 22px;}
    .nav{justify-content: center;}
    .navlinks{font-size: 22px;}
    .listh, .informationheader {font-size: 27px;}
    .intropara{font-size: 15px;}
}
@media only screen and (max-width: 640px){
    .infocard{width: 90%;}
    .navlinks{font-size: 20px;}
    .headertitle{font-size: 20px;}
}