:root{
    --primarycolor: rgb(241, 241, 241);
    --secondarycolor: rgb(250, 216, 22);
}
.cs-titlebox{
    height: auto;
    background-color: var(--primarycolor);
}
.cs-title{
    width: 50%;
}
.cs-title h1{
    margin-left: 10px;
    color: var(--secondarycolor);
}
.cs-nav{
    width: 50%;
    justify-content: end;
    align-items: center;
}
.cs-button{
    text-decoration: none;
    margin: 5px;
    color: var(--secondarycolor);
    font-size: 20px;
}
.cs-intro{
    height: 900px;
    position: relative;
}
.cs-intro-img{
    background-image:  linear-gradient( rgba(255,225,255, 0.4), rgb(0, 0, 0)) , url("images/p2-picture-rubiks.jpg");
    background-size: 100% 100%;
}
.cs-intro-info{
    position: absolute;
    top: 50%;
    bottom: 10%;
    left: 35%;
    right: 35%;
    text-align: center;
}
.cs-intro-info h1{
    color: white;
}
.cs-intro-info p{
    font-size: 20px;
    color: white;
}
.cs-intro-info a{
    font-size: 20px;
    padding: .5em;
    background-color: black;
    text-decoration: none;
    color: white;
}
.cs-body-header{
    text-align: center;
    color: var(--secondarycolor);
}
.container{
    width: auto;
}
.bg-color{
    background-color: var(--secondarycolor);
}
.bg-color1{
    background-color: var(--primarycolor);
}
.font-color{
    color: var(--secondarycolor);
}
.form{
    margin-top: 10em;
}
.cs-footer{
    height: auto;
    display: flex;
}
.cs-footer1{
    width: 45%;
    color: gray;
}
.cs-footer2{
    width: 45%;
    color: gray;
}
.social-box{
    height: 60px;
    width: 60px;
}
.social-img{
    height: 100%;
    width: 100%;
}
.cs-border{
    border: solid 1px red;
}

/* Responsive */
@media only screen and (max-width:992px){
    .cs-footer{flex-wrap: wrap;}
    .cs-footer1, .cs-footer2{width: 95%;}
    .cs-footer2{margin-bottom: 1em;}
}
